<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Actualización - Empresa Ficticia</title>
  <link rel="stylesheet" href="../css/a.css">
</head>
<body>

   <!-- Encabezado -->
   <header class="header-actualizacion">
    <div class="logo-container">
      <img src="../img/logo.jpeg" alt="Logo de la Empresa" class="logo-ovalado">
    </div>
    <h1 class="page-title">Actualización de Equipos</h1>
    <p class="page-intro">Mantén tus equipos al día con las últimas innovaciones y mejoras en hardware y software.</p>
  </header>

  <!-- Sección de Actualización -->
  <section class="update-services">
    <div class="service">
      <img src="../img/actu.png" alt="Actualización de Hardware" class="service-icon">
      <h2>Actualización de Hardware</h2>
      <p>Mejora el rendimiento de tu computadora con nuevas tarjetas gráficas, RAM, discos SSD, y más.</p>
    </div>
    
    <div class="service">
      <img src="../img/siste.png" alt="Actualización de Sistema Operativo" class="service-icon">
      <h2>Actualización de Sistema Operativo</h2>
      <p>Instalamos las versiones más recientes y seguras de tu sistema operativo preferido, incluyendo Windows, macOS y Linux.</p>
    </div>

    <div class="service">
      <img src="../img/insta.png" alt="Instalación de Software" class="service-icon">
      <h2>Instalación de Software Especializado</h2>
      <p>Instalamos programas y suites de software específicos para las necesidades de tu industria o negocio.</p>
    </div>
  </section>

  <!-- Botón de Retorno -->
  <div class="back-to-home">
    <a href="../index.html" class="button">Volver al Inicio</a>
  </div>

  <script src="../js/scripts.js"></script>
</body>
</html>
